* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #d7d7b4;
  color: #333;
}

header {
  background-color: #8b0000;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background-image: url('https://source.unsplash.com/1600x600/?nonveg,food');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 20px;
  color: rgb(195, 146, 83);
}

.hero h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #8b0000;
  
}

.btn {
  background-color: #80422b;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  
}

.menu {
  padding: 50px 20px;
  text-align: center;
}

.menu h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.dish {
  margin-bottom: 20px;
}

footer {
  background-color: #8b0000;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
